<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Django | Bootstrap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 0;
  }
  .navbar-nav  li a:hover {
    color: #000 !important;
  }
  </style>
</head>
<body style="background-image:url(https://images.pexels.com/photos/3773850/pexels-photo-3773850.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);background-position:center;background-size:cover;">

<!-- Navbar -->
<nav class="navbar bg-primary" style="height:10px" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="nav-link text-white" href="/"><img class="logo" src="https://www.pinclipart.com/picdir/big/178-1785162_white-home-icon-png-vector-royalty-free-download.png" style="height:25px"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav text-white navbar-right ">
        <li><a style="color:#fff;margin-top:-15px" href="/theiz/profile/">Profile</a></li>
        <li><a style="color:#fff;margin-top:-15px" href="/theiz/team">Teams</a></li>
        <li><a style="color:#fff;margin-top:-15px" href="/theiz/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="container">
    <h1 class="display-4" style="padding-top:100px">Welcome to My App</h1>
    <p class="lead" >This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center" >
  <p style="margin-top:365px">Built By <a href="https://theisandatu.github.io" target="_blank">Theiz Andatu</a></p> 
</footer>

</body>
</html>
